// Likely an otherwise-ususeable container name just in case:
.fasjcaluavatsuwaygenpalgpq
	// NAVIGATION
	// Arrows: Primary
	svg: path.arrow.n
	svg: path.arrow.e
	svg: path.arrow.s
	svg: path.arrow.w
	// Arrows: Secondary
	svg: path.arrow.ne
	svg: path.arrow.se
	svg: path.arrow.sw
	svg: path.arrow.nw
	svg: path.burger
	br
	// Math symbols
	svg: path.plus
	svg: path.minus
	svg: path.x
	svg: path.divide
	svg: path.equals